## Docker files settings
docker/mongodb/data/db/

## Backend folders
backend/public/assets/*
!.gitkeep
## Vscode IDE settings
.vscode/

## Node's dependences
node_modules/

## Build files
build/

## Env
.env

## Yarn lock
yarn-error.log

## PM2
process.json